<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
   
</head>
<body>
    <div class="">
        <input type="checkbox" name="" id="check">
        <label for="check" id="btn_b"><svg xmlns="http://www.w3.org/2000/svg" class="menu" width="30" height="30"
                style="fill: rgba(255, 255, 255, 1);transform: rotate(180deg);msFilter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);">
                <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
            </svg></label>
        <div class="mainmenu">


            <header class="header">
                
                <br>
                <h1>Your website name</h1>
            </header>
            <nav class="navbar" id="navbar">
                <ul>
                    <div id="iconul1">
                        <li><a id="navname1" href="index.html">Home</a>
                            <lord-icon id="iconnav1" src="https://cdn.lordicon.com/etqbfrgp.json" trigger="hover" 
                                colors="outline:#131432,primary:#92140c,secondary:#f24c00,tertiary:#b26836,quaternary:#ebe6ef"
                                style="width:32px;height:32px">
                            </lord-icon>
                        </li>
                    </div>
                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <div id="iconul2">
                        <li><a id="navname" href="#">Our Services</a>
                            <lord-icon
                                id="iconnav2"
                                src="https://cdn.lordicon.com/qedjceeb.json"
                                trigger="hover"
                                colors="outline:#121331,primary:#646e78,secondary:#2ca58d,tertiary:#ffc738,quaternary:#ebe6ef"
                                style="width:35px;height:35px">
                            </lord-icon>
                        </li>
                    </div>
                    <div id="iconul3">
                        <li><a id="navname" href="#">About us</a>
                            <lord-icon id="iconnav3" src="https://cdn.lordicon.com/vusrdugn.json" trigger="hover"
                                colors="primary:#121331,secondary:#b26836,tertiary:#4bb3fd,quaternary:#f9c9c0,quinary:#ebe6ef"
                                style="width:35px;height:35px">
                            </lord-icon>
                        </li>
                    </div>
                    <div id="iconul4">
                        <li><a id="navname" href="#">login/register</a>
                            <lord-icon id="iconnav4" src="https://cdn.lordicon.com/nrxxmbbt.json" trigger="hover"
                                style="width:35px;height:35px">
                            </lord-icon>
                        </li>
                    </div>
                    <div id="iconul5">
                    <li><a id="navname" href="#contact">Contact us</a>
                        <lord-icon id="iconnav5" src="https://cdn.lordicon.com/gzmgulpl.json" trigger="hover"
                            colors="outline:#121331,primary:#4bb3fd,secondary:#ebe6ef" style="width:35px;height:35px">
                        </lord-icon>
                    </li>
                    </div>
        </div>
        </ul>
        </nav>
    </div>
    <header class="header1">
        <h1>Tunophile</h1>
    </header>

    <div class="upper-container" id="upper-container">
        <div class="sub-container">
            <div class="content">
                <div class="div-l">
                    <h1>
                        Hello There!
                    </h1>
                    <p>It is the online Music music reccomendation platform</p>

                    <button placeholder="EXLORE"   href="b1.py"> <a href="b1.py"> EXPLORE 
                      
                    
                    </a></button>
                
                </div>
                <div class="div-r">
                    <script
                        src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_puciaact.json"
                        background="transparent" speed="1"  loop
                        autoplay>
                    </lottie-player>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        
    </div>
    <div class="main-container">
        <div class="left">
                <h1>HISTORY LINK </h1>
 

        </div>
        <div class="right">
                <form action="/link" method="POST">
                    <input type="text" name = "link" id = 'link' placeholder="Enter Spotify link ">
                    <br>
                    <br>
                    <input type="submit" value="Play" id="btn">
                </form>
        </div>
    </div>

    
    <div class="contact-us" data-aos="zoom-in" data-aos-offset="300" id="contact" name="contact">
        <hr style="width: 90%;">
        <br>
        <h1>Get In Touch</h1>
        <div class="inner-div">
            <div class="left-cont">
                <div>
                    <div class="boxcontact">

                        <script
                            src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_vpbcbwwm.json"
                            background="transparent" speed="1" style="width: 60px; height: 60px;" loop autoplay>
                        </lottie-player>
                        <br>
                        <a href="tel:+91"><span>+91******6263</span></a>
                    </div>
                    <div class="boxcontact">
                        <script
                            src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_ksklhijl.json"
                            background="transparent" speed="1" style="width: 70px; height: 70px;" loop autoplay>
                        </lottie-player>
                        <br>
                        <a href="mailto:suhelalipakjade@gmail.com"><span>yourmail@gmail.com</span></a>
                    </div>
                </div>
            </div>
            <div class="right-cont">
                <form method="" >
                    <input type="text" placeholder="first name" name="name" id="name" required>
                    <br>
                    <input type="email" placeholder="Email" name="email" id="email" required>
                    <input type="text" placeholder="Subject" name="subject" id="subject" required>

                    <textarea name="" id="massage" cols="80" rows="7" placeholder="Massage" required></textarea>
                    <br>
                    <input type="submit" id="submit">
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>
</html>